doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Profile 
    body 
        //- user_profile_pic_and_cover_photo 
        #profile_container
            #u_p_p_a_c_p
                #u_p_p 
                    img(src="", alt="")
                #u_c_p
                    img(src="", alt="")
                    