doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title home body
        style 
            include ../../css/home.css
            include ../../css/swiper-bundle.min.css

    body
        #home_body_container 
            #firstc_container
                #Display_home_message 
                    H1 Upload Your Visited Memories
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, maxime! Eligendi totam, ipsam optio recusandae error maxime ipsum possimus consectetur doloribus excepturi eos consequuntur voluptates itaque dignissimos obcaecati libero veritatis!
                #log_btns
                    #pin_blog_text
                        button.button-17#logonbutton
                            |Signup
                    #btn2
                        button.button-17#loginbutton
                            |login
                #login(style="display:none;")
                    input.inputclass(type="text" placeholdet='Email' required)
                    input.inputclass(type="text" placeholdet='Password' required)
                    button.loginbtn login 

            #online_and_total_users 
                .maindiv 
                    .total.octagonx
                        h4 Total 
                        p 1000+
                    .online.octagonx
                        h4 Total 
                        p 500+
                    .today_totaal_post.octagonx
                        h4 Today posts 
                        p 100+
            #anotherContainer 
                #message_and_some_defination 
                    h1 Explore ourself in a new way
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum culpa recusandae doloremque quisquam alias, repudiandae, sint quidem ut, voluptas delectus dolores facere sapiente atque consequatur esse. Minima a expedita officia deserunt harum molestias nam assumenda sapiente voluptas debitis, nulla corrupti obcaecati quis excepturi amet quo sint totam blanditiis, modi ullam laudantium quia laborum qui? Voluptatem suscipit minima laborum ea voluptatum?

            #client_feedback 
                #feedback_message 
                    h1 What our Client’s Say about us
                    p Who are in extremely love with eco friendly system.
                .swiper.jkl
                    .usercomment_sectin.swiper-wrapper
                        .swiper-slide.card
                            img.card-img-top(src='../../img/res_systempic/pexels-pixabay-414781.jpg' alt='...')
                            .card-body
                                p.card-text
                                    | Somess quick examp le text to build on the card title and make up the bulk of the card&apos;s content.
                        .card.swiper-slide
                            img.card-img-top(src='../../img/res_systempic/pexels-pixabay-414781.jpg' alt='...')
                            .card-body
                                p.card-text
                                    | Someas quick examp le text to build on the card title and make up the bulk of the card&apos;s content.
                        .card.swiper-slide
                            img.card-img-top(src='../../img/res_systempic/pexels-pixabay-414781.jpg' alt='...')
                            .card-body
                                p.card-text
                                    | Somedsa quick examp le text to build on the card title and make up the bulk of the card&apos;s content.
                        .card.swiper-slide
                            img.card-img-top(src='../../img/res_systempic/pexels-pixabay-414781.jpg' alt='...')
                            .card-body
                                p.card-text
                                    | Somfde quick examp le text to build on the card title and make up the bulk of the card&apos;s content.
                        .card.swiper-slide
                            img.card-img-top(src='../../img/res_systempic/pexels-pixabay-414781.jpg' alt='...')
                            .card-body
                                p.card-text
                                    | Ssdome quick examp le text to build on the card title and make up the bulk of the card&apos;s content.
                        .card.swiper-slide
                            img.card-img-top(src='../../img/res_systempic/pexels-pixabay-414781.jpg' alt='...')
                            .card-body
                                p.card-text
                                    | Somefds quick examp le text to build on the card title and make up the bulk of the card&apos;s content.

                    .swiper-pagination


script 
    include ../../js/home/home_body.js
    include ../../js/ext_package/swiper-bundle.min.js
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
