
head
    title Login
    style 
        include ../../css/log/login.css
    //- script(type='text/javascript').
    //-     if (foo) bar(1 + 5)
.form#form
    .control
        h1
            | Set Password
    .control.block-cube.block-input
        input(id='pass' placeholder='Password' type='gmail' autocomplete='off' required )
        .bg-top
            .bg-inner
        .bg-right
            .bg-inner
        .bg
            .bg-inner
    .control.block-cube.block-input
        input(id='repass' placeholder='Repassword' type='password' autocomplete='off' required)
        .bg-top
            .bg-inner
        .bg-right
            .bg-inner
        .bg
            .bg-inner
    .btnContainer 
        button(onclick='passset()' class='btn block-cube block-cube-hover')
            .bg-top
                .bg-inner
            .bg-right
                .bg-inner
            .bg
                .bg-inner
            .text
                | Register
    .resetpass
        | Forgot Password
